@charset "utf-8";

/*
	2014 CYBER IMAGINATION
	오상원 (ohsangwon@cyber-i.com)
*/

.CI-GRID-AREA {
	-webkit-overflow-scrolling: auto;
}

.CI-GRID-AREA * {
	-webkit-overflow-scrolling: auto;
}
/* 보더박스모델 사용 */
.CI-GRID-AREA,
.CI-GRID-AREA:before,
.CI-GRID-AREA:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.CI-GRID-AREA *,
.CI-GRID-AREA *:before,
.CI-GRID-AREA *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* WRAPPER */
.CI-GRID-WRAPPER {
	width: 100%;
	position: relative;
	overflow: hidden;
	z-index: 0;
	background: #fff;
	border: 1px solid gray;
}

/* 테이블 노멀라이즈 */
.CI-GRID-WRAPPER table {
	margin: 0;
	padding: 0;
	border-spacing: 0;
	width: 100%;
	table-layout: fixed;
	border-collapse: separate;
}

.CI-GRID-WRAPPER .CI-GRID-HEADER-TABLE {
	table-layout: auto;
}


.CI-GRID-HEADER-INNER .CI-GRID-HEADER-TABLE {
	table-layout: fixed;
}
.CI-GRID-WRAPPER th,
.CI-GRID-WRAPPER td {
	margin: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	border-right: 1px solid gray;
	border-bottom: 1px solid gray;
	padding: 3px;
}

.CI-GRID-HEADER-WRAPPER {
	cursor: default;
}

.CI-GRID-BODY-TABLE-THEAD input{
	display: none;
}

.CI-GRID-BODY-TABLE-THEAD-CELL {
	border: none !important;
	height: 0 !important;
	padding: 0 !important;
	font-size : 0 !important;
	line-height: 0 !important;
}

.CI-GRID-BODY-TABLE-THEAD-CELL * {
	display: none !important;
}


.CI-GRID-BODY-WRAPPER {
	cursor: default;
}

/* 컬럼 display */
.CI-GRID-CELL-NONE {
	display: none !important;
	padding: 0 !important;
	border: none !important;
	text-indent: -999px !important;
	font-size: 0 !important;
}

.CI-GRID-CELL-NONE * {
	display: none;
}

.CI-GRID-CELL-HIDDEN {
	padding: 0 !important;
	border: none !important;
	text-indent: -999px !important;
	font-size: 0 !important;
}

.CI-GRID-CELL-HIDDEN * {
	display: none;
}

/* 컬럼 리사이저 */
.CI-GRID-RESIZER {
	position: absolute;
	width: 10px;
}

.CI-GRID-RESIZER:hover {
	cursor : e-resize;
}

.CI-GRID-RESIZER-HELPER {
	position : absolute;
	top : 0;
	z-index: 3;
	width : 2px;
	background : #BCBCBC;
}


/* 컬럼정렬 */
.CI-GRID-ALIGN-LEFT {
	text-align: left;
}

.CI-GRID-ALIGN-CENTER {
	text-align: center;
}

.CI-GRID-ALIGN-RIGHT {
	text-align: right;
}

/* 소팅 */
.CI-GRID-HEADER-TABLE th, 
.CI-GRID-HEADER-TABLE td {
	position: relative;
}

.CI-GRID-HEADER-TABLE td span{
	white-space: nowrap !important;
}

.CI-GRID-HEADER-MICELINOUS {
	-moz-user-select     : none;
	-khtml-user-select   : none;
	-webkit-user-select  : none;
	-o-user-select       : none;
	user-select          : none;
	cursor: pointer;
	position: absolute;
	right: 5px;
	top: 3px;
}

/* 짝수로우 */
.CI-GRID-ODD {
	background: #F8F8F8;
}

.CI-GRID-BODY-CAPTION {
	overflow:hidden;
	width:1px;
	height:1px;
	padding:0;
	font-size:0;
	line-height:0;
	text-indent:-999px;
}
/*.CI-GRID-BODY-TABLE-TBODY tr:hover {
	background: #ECECEC;
}*/

/*.CI-GRID-BODY-TABLE-TBODY tr.CI-GRID-ROW-SELECTED {
	background: #E2EFF5;
}*/
/*
.CI-GRID-BODY-TABLE-TBODY tr.CI-GRID-ROW-SELECTED:hover {
	background: #E2EFF5;
}*/

.CI-GRID-CLICKED :focus {
  outline: none;
}

.CI-GRID-FOCUS-ESCAPER {
	display: inline;
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 0;
	margin: 0;
	font-size: 0;
	width: 100%;
	height: 1px;
}

.CI-GRID-FOCUS-ESCAPER-SHOWN {
	padding: 5px;
	z-index: 1;
	bottom: -30px;
	right: 0px;
	background: #FFF;
	font-size: 12px;
	width: auto;
	height: auto;
	border: 1px solid #808080;
	text-decoration: none;
	color: #666;
}

.CI-FREEZE-INDICATOR-LEFT {
	position: absolute;
	top: 40px;
	left: 0;
	width: 33px;
	height: 47px;
	background-image: url('../img/tablescroll_left.png');
	background-size: 100%;
	z-index: 3;
	display: none;
}

.CI-FREEZE-INDICATOR-RIGHT {
	position: absolute;
	top: 40px;
	right: 0;
	width: 33px;
	height: 47px;
	background-image: url('../img/tablescroll_right.png');
	background-size: 100%;
	z-index: 3;
	display: none;
}

/* 디자인용 보더 */
.CI-GRID-BORDER-RIGHT {
	border-right: 1px solid #E1E1E1;
}

.CI-GRID-BORDER-BOTTOM {
	border-top: 1px solid #E1E1E1;
}

.CI-GRID-BORDER-FIXED {
	position : absolute;
	top : 0;
	z-index: 3;
	width : 1px;
	background : gray;
}

/* 틀고정시 오른쪽 보더 */
.CI-GRID-FIXED-INNER-BORDER {
	
}


/* 디자인용 사각형 */
.CI-GRID-RECT-RIGHT-TOP {
	background: gray;
}

.CI-GRID-HEADER-TABLE .CI_GRID_CHECKBOX_CONTAINER {
	text-align: center;
}

/* MAC에서 스크롤 기본 디자인 */
.CI-GRID-ON-MAC::-webkit-scrollbar,
.CI-GRID-ON-MAC ::-webkit-scrollbar {
	height: 17px;
	overflow: visible;
	width: 17px;
}

.CI-GRID-ON-MAC::-webkit-scrollbar-thumb,
.CI-GRID-ON-MAC ::-webkit-scrollbar-thumb {
	background-color: rgba(0,0,0,.2);
	background-clip: padding-box;
	border: solid transparent;
	border-width: 1px 1px 1px 1px;
	min-height: 28px;
	padding: 0;
	box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07);
}

.CI-GRID-ON-MAC::-webkit-scrollbar-button,
.CI-GRID-ON-MAC ::-webkit-scrollbar-button {
	height: 0;
	width: 0;
}

.CI-GRID-ON-MAC::-webkit-scrollbar-track,
.CI-GRID-ON-MAC ::-webkit-scrollbar-track {
	background-clip: padding-box;
	border: solid transparent;
	border-width: 0px;
}

.CI-GRID-ON-MAC::-webkit-scrollbar-corner,
.CI-GRID-ON-MAC ::-webkit-scrollbar-corner {
	background: transparent;
}

/* MOBILE에서 스크롤 기본 디자인 */
.CI-GRID-ON-MOBILE::-webkit-scrollbar,
.CI-GRID-ON-MOBILE ::-webkit-scrollbar {
	height: 0;
	width: 0;
	overflow: visible;
}

.CI-GRID-ON-MOBILE::-webkit-scrollbar-thumb,
.CI-GRID-ON-MOBILE ::-webkit-scrollbar-thumb {
	background-color: transparent;
	background-clip: padding-box;
	border: solid transparent;
	border-width: 0;
	min-height: 0;
	padding: 0;
	box-shadow: none;
}

.CI-GRID-ON-MOBILE::-webkit-scrollbar-button,
.CI-GRID-ON-MOBILE ::-webkit-scrollbar-button {
	height: 0;
	width: 0;
}

.CI-GRID-ON-MOBILE::-webkit-scrollbar-track,
.CI-GRID-ON-MOBILE ::-webkit-scrollbar-track {
	background-clip: padding-box;
	border: solid transparent;
	border-width: 0px;
}

.CI-GRID-ON-MOBILE::-webkit-scrollbar-corner,
.CI-GRID-ON-MOBILE ::-webkit-scrollbar-corner {
	background: transparent;
}

.CI-GRID-MOBILE-SCROLL-INDI-VERTICAL {
	position: absolute;
	z-index: 99;
	top: 0px;
	right: 3px;
	width: 4px;
	height: 30px;
	background-color: #888;
	border: none;
	margin: 5px 0 5px 0;
	opacity: 0.3;
}

.CI-GRID-MOBILE-SCROLL-INDI-HORIZONTAL {
	position: absolute;
	z-index: 99;
	left: 0px;
	bottom: 3px;
	width: 30px;
	height: 4px;
	background-color: #888;
	border: none;
	margin: 0 5px 0 5px;
	opacity: 0.3;
}

.CI-GRID-EDITING-CELL {
	position: relative;
	color: transparent;
}

.CI-GRID-EDITING-INPUT {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	border: 2px solid #A3C6D9;
	background: transparent;
}

.CI-GRID-AREA .msgBoxBgDefault {
	z-index: 100;
	position: absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	background-color: black;
	opacity: 0.5;

}

.msgBoxDefault {
	background-color: white;
	width: 200px;
	height: 100px;
	border: 3px solid black;
	z-index: 110;
	position: absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	margin:auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	opacity: 1;
}

.msgPDefault {
	word-break: break-all;
	line-height: 1.5;
	font-weight: bold;
	opacity: 1;
	z-index: 120;
	color: red;
	font-size: 13px;
}