
/* 페이징 */

.WEBPONENT-PAGING-WRAPPER {
	width : 100%;
	margin-top: 5px;
	text-align: center;
}

.WEBPONENT-PAGING-WRAPPER input {	
	width: 26px;
	height: 26px;
	border: 0;
	vertical-align: middle;
	text-align: center;
	text-indent: -9999px;
}

.WEBPONENT-PAGING-LEFT {
	background:url(/WEB-APP/webponent/grid2.0/img/flat3.png) -6px -40px no-repeat;
}

.WEBPONENT-PAGING-START {
	background:url(/WEB-APP/webponent/grid2.0/img/flat3.png) -216px -75px no-repeat;
}

.WEBPONENT-PAGING-RIGHT {
	background:url(/WEB-APP/webponent/grid2.0/img/flat3.png) -40px -40px no-repeat;
}

.WEBPONENT-PAGING-END {
	background:url(/WEB-APP/webponent/grid2.0/img/flat3.png) -215px -40px no-repeat;
}

.WEBPONENT-PAGING-LEFT-DISABLED {
	background:url(/WEB-APP/webponent/grid2.0/img/flat3.png) -146px -40px no-repeat;
}

.WEBPONENT-PAGING-START-DISABLED {
	background:url(/WEB-APP/webponent/grid2.0/img/flat3.png) -110px -40px no-repeat;
}

.WEBPONENT-PAGING-RIGHT-DISABLED {
	background:url(/WEB-APP/webponent/grid2.0/img/flat3.png) -146px -76px no-repeat;
}

.WEBPONENT-PAGING-END-DISABLED {
	background:url(/WEB-APP/webponent/grid2.0/img/flat3.png) -110px -75px no-repeat;
}

.WEBPONENT-PAGING-A {
	display: inline-block;
	min-width: 26px;
	height: 26px;
	padding-top: 5px;
	margin: 0 3px;
	color: #666;
	font-family: 'Nanum Gothic';
	font-weight: bold;
	font-size: 13px;
	text-decoration: none;
	vertical-align: middle;
}		

.WEBPONENT-PAGING-A-SELECTED {
	border: solid 1px #2acdba;
	background: #d5f5f0;
	color: #333;
	font-size: 16px;
	padding-top: 2px;
}

.WEBPONENT-PAGING-WRAPPER span {
	padding: 21px;
	color: #333333;
}

.WEBPONENT-PAGING-TOTAL-COUNT-TEXT {
	position: absolute;
	bottom: 4px;
	right: 10px;
}